.section-title {
    font-size: 30px !important;
    background: -webkit-linear-gradient(left, #371e71, #4e1051) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-shadow: 2px 2px 4px rgba(78, 16, 81, 0.3) !important;
}

.section-subtitle {
    font-size: 17px !important;
}

.section-title-border {
    width: 80px !important;
    height: 2.6px !important;
}

.section {
    padding-top: 120px !important;
}

.services-box {
    border: 1px solid #ccc !important;
    border-radius: 25px !important;
    height: 380px !important;
    box-shadow: 2px 2px 4px rgba(78, 16, 81, 0.8);
}

.services-box:hover {
    box-shadow: none !important;
    border: none !important;
}

.services-box h4 {
    font-size: 20px !important;
    background: -webkit-linear-gradient(left, #371e71, #4e1051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.services-box:hover h4 {
    background: -webkit-linear-gradient(left, #FFFFFFE5, #FFFFFFE5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-box p {
    font-size: 15.5px !important;
}

.services-box:hover p {
    color: rgba(255, 255, 255, 0.8) !important;
}

.services-box i {
    margin-bottom: 0;
    height: 76px !important;
    width: 76px !important;
    line-height: 76px !important;
    font-size: 48px !important;

}

.services-box:hover {
    background: linear-gradient(to right, #371e71, #4e1051);
    border: none;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.text-primary {
    background: -webkit-linear-gradient(left, #371e71, #4e1051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-box:hover .text-primary {
    background: -webkit-linear-gradient(left, #ffffff, #ffffff) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.ul-content {
    margin: 24px 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f8f9fa !important;
    border: 1px solid #4e1051;
    cursor: pointer;
}

.li-content {
    flex: 1 1 auto;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    color: #371e71;
    border-right: 1px solid #4e1051 !important;
}

.li-content:last-child {
    border-right: none !important;
}

.li-active-content {
    background: -webkit-linear-gradient(left, #371e71, #4e1051) !important;
    text-shadow: 2px 2px 4px rgba(78, 16, 81, 0.3) !important;
    color: rgba(255, 255, 255, 0.7);
}

.technology-section {
    border-radius: 50%;
    padding: 15px;
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 4px rgba(78, 16, 81, 0.8);
}

.technologies-section {
    background-color: #f8f9fa;
}

img {
    cursor: pointer !important;
}

@media screen and (max-width: 767px) {
    .ul-content {
        flex-direction: column !important;
    }
}