<!--START SERVICES-->
<section class="section pt-5" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-title text-center">Our Expertise</h1>
                <div class="section-title-border mt-1"></div>
                <p class="section-subtitle text-muted text-center pt-4 font-secondary">
                    We’re experts in crafting products that engage your audience, sets your brand apart and helps you
                    achieve your goals.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center">
                    <i class="pe-7s-phone text-primary"></i>
                    <h4 class="pt-3">Mobile Development</h4>
                    <p class="pt-3 text-muted">
                        We, at Scalar Techhub offer appealing
                        and impressive applications to ensure your application reaches the target audience, and solves
                        its purpose.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center">
                    <i class="pe-7s-display1 text-primary"></i>
                    <h4 class="pt-3">Web Development</h4>
                    <p class="pt-3 text-muted">
                        Count on our talented team with exceptional web development experience to establish your brand,
                        automatize processes, collaboration or just about anything that you can think on web. We
                        hand-hold you at every single .
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center">
                    <i class="pe-7s-cloud text-primary"></i>
                    <h4 class="pt-3">Cloud services</h4>
                    <p class="pt-3 text-muted">
                        We help clients by providing them cloud based mobile application, web application services. No
                        matter how big or small the projects, our cloud solutions help firms avoid unnecessary costs on
                        infrastructure.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center">
                    <i class="pe-7s-science text-primary"></i>
                    <h4 class="pt-3">UI/UX development</h4>
                    <p class="pt-3 text-muted">
                        At Scalar Techhub we offer the excellent Responsive web design services making the websites and
                        applications smart
                        enough to resize and adapt its content on the basis of the screen size of the device.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center">
                    <i class="pe-7s-news-paper text-primary"></i>
                    <h4 class="pt-3">Artificial intelligence</h4>
                    <p class="pt-3 text-muted">
                        We are on the brink of an age where AI-enabled smart machines, fueled by advances in hardware
                        and deep neural networks will think, act and even make decisions much the way a human would —
                        enabled by unprecedented volumes of data.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="services-box text-center">
                    <i class="pe-7s-plane text-primary"></i>
                    <h4 class="pt-3">Analytics</h4>
                    <p class="pt-3 text-muted">
                        Scalar Techhub can help you leverage the data that you already have as well as combine it with
                        third-party data to create real results. Regardless of the industry sector you’re in, acquiring
                        and analyzing new and existing data will allow you to gain additional insights into market
                        trends.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END SERVICES-->
<section class="technologies-section pt-5 pb-5">
    <div class="row p-0 m-0">
        <div class="container p-0">
            <div class="col-lg-12">
                <h2 class="text-center section-title text-center">Technologies We Use</h2>
            </div>
            <div class="col-lg-12 ps-3 pe-3">
                <ul class="d-flex p-0 ul-content">
                    <li class="li-content"
                        [class.li-active-content]="active_technology_tab === technology_tabs.mobility"
                        (click)="changeActiveTab(technology_tabs.mobility)">Mobility</li>
                    <li class="li-content"
                        [class.li-active-content]="active_technology_tab === technology_tabs.web_and_full_stack"
                        (click)="changeActiveTab(technology_tabs.web_and_full_stack)">Web & Full Stack</li>
                    <li class="li-content"
                        [class.li-active-content]="active_technology_tab === technology_tabs.e_commerce_cms"
                        (click)="changeActiveTab(technology_tabs.e_commerce_cms)">E-Commerce & CMS
                    </li>
                    <li class="li-content"
                        [class.li-active-content]="active_technology_tab === technology_tabs.designing"
                        (click)="changeActiveTab(technology_tabs.designing)">Designing</li>
                </ul>
            </div>
            <ng-container *ngIf="active_technology_tab === technology_tabs.mobility">
                <div class="mobility">
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/react.png.webp" alt="react"
                                        style="width: 45px;" />
                                </div>
                            </div>
                            <div>React</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/angular.png.webp" alt="react"
                                        style="width: 50px;" />
                                </div>
                            </div>
                            <div>Angular</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/flutter.png.webp" alt="react"
                                        style="width: 40px; height: 45px;" />
                                </div>
                            </div>
                            <div>Flutter</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/android.png.webp" alt="android"
                                        style="width: 55px;" />
                                </div>
                            </div>
                            <div>Android</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/ionic.png.webp" alt="ionic"
                                        style="width: 45px;" />
                                </div>
                            </div>
                            <div>Ionic</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/java.png.webp" alt="java"
                                        style="width: 40px; height: 45px;" />
                                </div>
                            </div>
                            <div>Java</div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="active_technology_tab === technology_tabs.web_and_full_stack">
                <div class="web-Full-stack">
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/php.png.webp" alt="php"
                                        style="width: 50px;" />
                                </div>
                            </div>
                            <div>PHP</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/python.png.webp" alt="python"
                                        style="width: 40px;" />
                                </div>
                            </div>
                            <div>Python</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/dotnet.png.webp" alt="dotnet"
                                        style="width: 40px; height: 35px;" />
                                </div>
                            </div>
                            <div>DotNet</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/react.png.webp" alt="react"
                                        style="width: 45px;" />
                                </div>
                            </div>
                            <div>React</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/java.png.webp" alt="java"
                                        style="width: 40px; height: 45px;" />
                                </div>
                            </div>
                            <div>Java</div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="active_technology_tab === technology_tabs.e_commerce_cms">
                <div class="e-commerce-cms">
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/wordpress.png.webp" alt="wordpress"
                                        style="width: 40px;" />
                                </div>
                            </div>
                            <div>Wordpress</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/shopify.png.webp" alt="shopify"
                                        style="width: 37px;" />
                                </div>
                            </div>
                            <div>Shopify</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/magento-2.png.webp" alt="magento"
                                        style="width: 40px; height: 40px;" />
                                </div>
                            </div>
                            <div>Magento</div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="active_technology_tab === technology_tabs.designing">
                <div class="designing">
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/after-effects-2019.png.webp"
                                        alt="after-effects" style="width: 40px;" />
                                </div>
                            </div>
                            <div>After-Effects</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/adobe-illustrator-cc.png.webp"
                                        alt="adobe-illustrator" style="width: 40px;" />
                                </div>
                            </div>
                            <div>Adobe-Illustrator</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/photoshop-cc.png.webp" alt="photoshop"
                                        style="width: 40px;" />
                                </div>
                            </div>
                            <div>Photoshop</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/figma-1.png.webp" alt="figma"
                                        style="width: 40px; height: 50px;" />
                                </div>
                            </div>
                            <div>Figma</div>
                        </div>
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/adobe-xd.png.webp" alt="adobe-xd"
                                        style="width: 40px;" />
                                </div>
                            </div>
                            <div>Adobe-XD</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-around align-items-center flex-column">
                            <div
                                class="d-flex justify-content-center align-items-center flex-column technology-section">
                                <div>
                                    <img src="../../../assets/images/wave-shape/indesign-cc.png.webp" alt="java"
                                        style="width: 40px;" />
                                </div>
                            </div>
                            <div>InDesign</div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>