<section class="pt-5 pb-5">
    <div class="pb-5 pt-5" style="background-color: #f8f9fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <div class="header">Next js Developer</div>
                        <div class="pt-3 content">
                            Use our superior services to grow your company. advancement of Next.js Create incredibly
                            effective web applications that surpass rivals. Excellent performance, responsiveness, and
                            security are guaranteed by our skilled team's custom solutions. To remain competitive,
                            embrace digital transformation. Reach out to us to make your idea a reality!
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-3">
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/images/wave-shape/next-js.png" alt="next-js"
                                    style="width: 250px; height: 250px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-section pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="contact-head">
            Make your ideas a reality! You can rely on us as Next.js Engineers to translate your ideas into workable
            software solutions that are customized to meet your needs.
        </div>
        <div>
            <button class="explore">Get In Touch</button>
        </div>
    </div>

    <div class="pt-5 pb-5" style="background-color: #f8f9fa;">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="benefit-head">Benefits of Next js</div>
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-4 col-md-4 p-3" *ngFor="let item of benefit_content">
                        <div class="benefit-section">
                            <div class="numbering">{{ item.numbering }}</div>
                            <div class="pt-2 pb-2 benefit-header">{{ item.heading }}</div>
                            <div class="benefit-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 d-flex pt-3 technology-responsive">
                    <div class="col-lg-4 col-md-4 p-3" *ngFor="let item of benefit_content_remaining">
                        <div class="benefit-section">
                            <div class="numbering">{{ item.numbering }}</div>
                            <div class="pt-2 pb-2 benefit-header">{{ item.heading }}</div>
                            <div class="benefit-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5 pb-5 contact-section ps-md-4 pe-md-4">
        <div class="d-flex justify-content-around align-items-center technology-responsive">
            <div class="partner-section" style="width: 50%;">
                <div class="pb-3 partner-head">Next.js excels in scalable client apps with SSR and SSG.</div>
                <div class="pb-md-5 partner-content">
                    Our Next js developers don't follow one set approach to the letter. They carefully consider every
                    option available, selecting the one that most closely matches your intended software solution.
                </div>
                <button class="explore">Estimate My Project</button>
            </div>
            <div>
                <img src="../../assets/images/wave-shape/next.png" alt="next" class="gif-image" />
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="container">
            <div class="d-flex justify-content-center pt-3 pb-3 benefit-head">Why Choose Us</div>
            <div class="row">
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-3" *ngFor="let item of choose_us">
                        <div class="p-2">
                            <div class="text-center choose-head pb-2">{{ item.header }}</div>
                            <div class="text-center choose-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>