.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.blog {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.prev-btn {
    left: 0px;
    background: #ffffff;
    padding: 5px 20px;
    box-shadow: 1px 1px 2px #ccc;
}

.next-btn {
    right: 0px;
    background: #ffffff;
    padding: 5px 20px;
    box-shadow: 1px 1px 2px #ccc;
}

@media(min-width : 1200px) {
    .slide {
        width: 33.33% !important;
    }
}

@media (min-width:768px) and (max-width: 1199px) {}

@media (min-width:992px) and (max-width: 1199px) {
    .slide {
        width: 33.33% !important;
    }
}

@media (max-width: 767px) {
    .prev-btn {
        left: 0px !important;
        background: #ffffff !important;
        padding: 0px 10px !important;
        box-shadow: 1px 1px 2px #ccc !important;
    }

    .next-btn {
        right: 0px !important;
        background: #ffffff !important;
        padding: 0px 10px !important;
        box-shadow: 1px 1px 2px #ccc !important;
    }

    .slide {
        width: 100% !important;
    }
}