.review-title {
    background: -webkit-linear-gradient(left, #ffffff, #ffffff) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.horizontal {
    background: linear-gradient(to right, #ffffff, #ffffff) !important;
    width: 80px !important;
    height: 2px !important;
}

.footer-header {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 17px !important;
}

.form-control {
    background-color: transparent !important;
    padding: 1.75rem 1.75rem !important;
    border: 1px solid rgba(255, 255, 255, 0.7) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    border-radius: 25px !important;
    font-size: 16px !important;
}

.submit-btn {
    box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.3) !important;
    white-space: nowrap !important;
    border: none !important;
    background-color: #ffffff !important;
    color: #371e71 !important;
    font-size: 16px !important;
    border: 1px solid transparent !important;
}

.submit-btn a {
    color: #371e71 !important;
}

.submit-btn:hover {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid rgba(255, 255, 255, 0.7) !important;
    transform: translateY(0px) !important;
}

.submit-btn:hover a {
    color: rgba(255, 255, 255, 0.7) !important;
    /* color: #371e71 !important; */
}

.address {
    font-size: 18px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-weight: 500 !important;
}

.inner-address {
    font-size: 16.5px !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

.social-icon {
    border: 2px solid #4e1051 !important;
    color: #4e1051 !important;
}

.social-icon i {
    color: #4e1051 !important;
}

.list-inline-item:hover {
    color: #4e1051 !important;
    transform: translateY(-0.25rem) !important;
    transition: all 0.2s ease-in-out !important;
}

.contact-title {
    display: flex !important;
    background: -webkit-linear-gradient(left, #371e71, #4e1051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    gap: 10px;
    align-items: center;
}

.contact-title i {
    font-weight: 800 !important;
    font-size: 25px !important;
    cursor: pointer;
}


#contact {
    background: linear-gradient(to right, #371e71, #4e1051) !important;
}