<section class="pt-5 pb-5">
    <div class="pb-5 pt-5" style="background-color: #f8f9fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <div class="header">Android App Developer</div>
                        <div class="pt-3 content">
                            Our expertise lies in creating feature-rich, high-performing custom Android applications. We
                            are experts at building mission-critical Android apps for our clients that improve user
                            engagement and work flawlessly across a range of devices.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-3">
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/images/wave-shape/android-gif.gif" alt="android"
                                    style="width: 250px; height: 250px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-section pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="contact-head">
            Are you prepared to lead in the digital age? With the help of our skilled and knowledgeable Android
            engineers, create a robust app!
        </div>
        <div>
            <button class="explore">Get In Touch</button>
        </div>
    </div>

    <div class="pt-5 pb-5" style="background-color: #f8f9fa;">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="benefit-head">Benefits Android App</div>
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-4 col-md-4 p-3" *ngFor="let item of benefit_content">
                        <div class="benefit-section">
                            <div class="numbering">{{ item.numbering }}</div>
                            <div class="pt-2 pb-2 benefit-header">{{ item.heading }}</div>
                            <div class="benefit-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 d-flex pt-3 technology-responsive">
                    <div class="col-lg-4 col-md-4 p-3" *ngFor="let item of benefit_content_remaining">
                        <div class="benefit-section">
                            <div class="numbering">{{ item.numbering }}</div>
                            <div class="pt-2 pb-2 benefit-header">{{ item.heading }}</div>
                            <div class="benefit-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4 contact-section ps-md-4 pe-md-4">
        <div class="d-flex justify-content-around align-items-center technology-responsive">
            <div class="partner-section" style="width: 50%;">
                <div class="pb-3 partner-head">Have an original idea? Let's explore its nuances and make it come to
                    life!</div>
                <div class="pb-md-5 partner-content">
                    Our skilled Android developers are ready to demonstrate their abilities, whether you need a single
                    engineer or a whole team. To make sure Senwell Group Private Limited meets your requirements and
                    expectations exactly, start a pilot project.
                </div>
                <button class="explore">Estimate my Project</button>
            </div>
            <div>
                <img src="../../assets/images/wave-shape/android_gif.png" alt="android" class="gif-image" />
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="container">
            <div class="d-flex justify-content-center pt-3 pb-3 benefit-head">Why Choose Us</div>
            <div class="row">
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-3" *ngFor="let item of choose_us">
                        <div class="p-2">
                            <div class="text-center choose-head pb-2">{{ item.header }}</div>
                            <div class="text-center choose-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>