#mySidenav {
    margin-left: 100px !important;
}

#mySidenav li a {
    font-size: 17px !important;
    white-space: nowrap !important;
}

.home-desc {
    font-size: 17px !important;
}

.bg-home {
    background: url("../../../assets/images/wave-shape/gif3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-overlay {
    opacity: 0.8 !important;
    background: linear-gradient(to right, #371e71, #4e1051) !important;
}

.navbar-btn {
    font-size: 15.5px !important;
    border-radius: 0.25rem !important;
}

.scalar-logo-name {
    margin-left: 12px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    /* line-height: 64px; */
    font-size: 24px;
    color: rgb(255, 255, 255);
    /* font-family: "Poppins", sans-serif; */


}

.header-logo {
    width: 305px;
    height: 75px;

}

.logo-image-wrapper {
    display: flex;
}

.navbar-brand {
    padding: 0px;
}

@media(min-width : 1200px) {
    .about-section {
        padding-top: 100px !important;
    }

    .inner-about {
        display: flex;
        background-color: #ffffff;
        width: 65%;
        padding: 15px;
        border-radius: 8px;
        z-index: 9;
        position: relative;
        box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.3);
    }

    .award-section {
        width: 50%;
        border-right: 1px solid #dee2e6;
        display: flex;
        flex-direction: column;
    }

    .header-section {
        width: 100%;
    }

    .award-rating-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header {
        text-align: center;
        font-size: 19px;
        color: #1b1818;
        text-transform: uppercase;
    }

    .award-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .pri-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .pri-image img {
        width: 130.14px;
        height: 141px;
    }

    .sec-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .sec-image img {
        width: 180.77px;
        height: 141px;
    }

    .rating-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inner-rating {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 141px;
    }

    .rating-img {
        width: 25%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .inner-rating-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .star {
        width: 95px;
    }

    .text {
        width: 85px;
    }

    .info-section {
        background: linear-gradient(to right, #371e71, #4e1051);
        padding-top: 120px;
        margin-top: -90px;
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        background-position: center;
    }

    .about-bg-pattern-effect {
        margin-top: -86px !important;
    }

    .info-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 65%;
        color: #ffffff;
    }

    .info-header h1 {
        padding: 20px 0;
        font-size: 30px !important;
        color: rgba(255, 255, 255, 0.7) !important;
    }

    .info-content {
        text-align: center;
        line-height: 2;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: 15px;
    }

    .info-card-section {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 15px;
        width: 100% !important;
    }

    .info-card-section .card {
        background: linear-gradient(to right, #371e71, #60467a, #4e1051);
        border-radius: 8px;
        padding: 35px 10px !important;
        color: #ffffff;
        text-align: center !important;
        border: none !important;
        box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.8) !important;
        cursor: pointer;
    }

    .info-card-section .card:hover {
        transition: all 0.2s ease-in-out !important;
        transform: scale(1.03) !important;
    }

    .info-card-section .card h3 {
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 35px !important;
        margin: 0 !important;
    }

    .info-card-section .card p {
        color: rgba(255, 255, 255, 0.7) !important;
    }
}

@media (min-width:768px) and (max-width: 1199px) {
    #mySidenav {
        margin-left: 10px !important;
    }

    .about-section {
        padding-top: 60px !important;
    }

    .about-bg-pattern-effect {
        margin-top: -79px !important;
    }

    .inner-about {
        display: flex;
        background-color: #ffffff;
        width: 70%;
        padding: 15px;
        border-radius: 8px;
        z-index: 9;
        position: relative;
        box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.3);
    }

    .award-section {
        width: 50%;
        border-right: 1px solid #dee2e6;
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
    }

    .header-section {
        width: 100%;
    }

    .award-rating-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header {
        text-align: center;
        font-size: 19px;
        color: #1b1818;
        text-transform: uppercase;
    }

    .award-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .pri-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .pri-image img {
        width: 90.14px !important;
        height: 101px !important;
    }

    .sec-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .sec-image img {
        width: 140.77px !important;
        height: 101px !important;
    }

    .rating-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inner-rating {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 141px;
        flex-wrap: wrap !important;
    }

    .rating-img {
        width: 50% !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .inner-rating-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .star {
        width: 95px;
    }

    .text {
        width: 85px;
    }

    .info-section {
        background: var(--bs-lightan);
        padding-top: 120px;
        margin-top: -90px;
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }

    .info-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 70% !important;
        color: #ffffff;
    }

    .info-header h1 {
        padding: 20px 0;
        font-size: 27px !important;
        color: rgba(255, 255, 255, 0.7) !important;
    }

    .info-content {
        text-align: center;
        line-height: 1.5 !important;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: 15px;
    }

    .info-card-section {
        display: grid;
        grid-template-columns: repeat(3, auto) !important;
        grid-gap: 15px;
        width: 100% !important;
    }

    .info-card-section .card {
        background: linear-gradient(to right, #371e71, #60467a, #4e1051);
        /* background: linear-gradient(to right, #371e71, #4e1051); */
        border-radius: 8px;
        padding: 15px 0 !important;
        color: #ffffff;
        border: none !important;
        text-align: center !important;
        box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.8) !important;
        cursor: pointer;
    }

    .info-card-section .card:hover {
        transition: all 0.2s ease-in-out !important;
        transform: scale(1.03) !important;
    }

    .info-card-section .card h3 {
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 35px !important;
        margin: 0 !important;
    }

    .info-card-section .card p {
        color: rgba(255, 255, 255, 0.7) !important;
    }
}

@media (max-width: 767px) {

    .header-logo {
        width: 215px !important;
        height: 50px !important;
    }

    #mySidenav {
        margin-left: 10px !important;
    }

    .about-section {
        padding-top: 30px !important;
    }

    .about-bg-pattern-effect {
        margin-top: -24px !important;
    }

    .home-title {
        line-height: 44px !important;
    }

    .inner-about {
        display: flex;
        background-color: #ffffff;
        width: 100% !important;
        flex-direction: column !important;
        padding: 15px;
        border-radius: 8px;
        z-index: 0 !important;
        position: relative;
        gap: 30px !important;
        border-left: 4px solid #711e72 !important;
        border-right: 4px solid #711e72 !important;
    }

    .award-section {
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .header-section {
        width: 100%;
    }

    .award-rating-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header {
        text-align: center;
        font-size: 19px;
        color: #1b1818;
        text-transform: uppercase;
    }

    .award-img {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column !important;
        align-items: center !important;
        gap: 15px !important;
    }

    .pri-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .pri-image img {
        width: 130.14px;
        height: 141px;
    }

    .sec-image {
        width: 50% !important;
        display: flex;
        justify-content: center;
    }

    .sec-image img {
        width: 180.77px;
        height: 141px;
    }

    .rating-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inner-rating {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 141px;
        flex-direction: column;
        flex-wrap: wrap !important;
        gap: 15px !important;
    }

    .rating-img {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .inner-rating-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .star {
        width: 95px !important;
    }

    .text {
        width: 85px !important;
    }

    .info-section {
        background: var(--bs-lightan);
        padding-top: 20px !important;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        padding: 20px 15px 60px !important;
    }

    .info-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
        color: #ffffff;
    }

    .info-header h1 {
        padding: 15px 0 !important;
        font-size: 22px !important;
    }

    .info-content {
        text-align: justify !important;
        line-height: 1.5 !important;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.7);
        padding-bottom: 15px;
    }

    .info-card-section {
        display: grid;
        grid-template-columns: repeat(1, auto) !important;
        grid-gap: 15px;
        width: 100% !important;
    }

    .info-card-section .card {
        background: linear-gradient(to right, #371e71, #60467a, #4e1051);
        /* background: linear-gradient(to right, #371e71, #4e1051); */
        border-radius: 8px;
        padding: 20px 65px !important;
        color: #ffffff;
        width: 100% !important;
        border: none !important;
        box-shadow: 2px 2px 4px rgba(27, 27, 27, 0.8) !important;
        cursor: pointer;
    }

    .info-card-section .card:hover {
        transition: all 0.2s ease-in-out !important;
        transform: scale(1.03) !important;
    }

    .info-card-section .card h3 {
        text-align: center !important;
        font-weight: 550 !important;
        font-size: 35px !important;
        color: rgba(255, 255, 255, 0.7) !important;
    }

    .info-card-section .card p {
        font-size: 17px !important;
        color: rgba(255, 255, 255, 0.7) !important;
        text-align: center !important;
    }

    .scalar-logo-name {
        font-size: 18px !important;
    }
}

@media(max-width:576px) {

    .header-logo {
        width: 185px !important;
        height: 40px !important;
    }

    .scalar-logo-first {
        width: 45px !important;
        height: 35px !important;
    }

    .scalar-logo-name {
        margin-left: 10px;
        font-weight: 450;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
        line-height: 54px;
        font-size: 12px !important;
    }

    .logo-image-wrapper {
        display: block !important;
    }

}