.section-title {
    font-size: 30px !important;
    background: -webkit-linear-gradient(left, #371e71, #4e1051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(78, 16, 81, 0.3);
}

.section-subtitle {
    font-size: 17px !important;
}

.blog-box {
    box-shadow: 2px 2px 4px rgba(78, 16, 81, 0.8) !important;
    border-radius: 25px;
    padding: 10px 10px 15px;
}

.blog-box img {
    border-radius: 25px;
}

.content-wrap {
    padding: 10px !important;
    height: 225px;
}

.blog-header {
    background: -webkit-linear-gradient(left, #371e71, #4e1051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 19.5px !important;
    font-weight: 600;
}

.read-btn {
    color: #181b1b !important;
}


.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
}

.blog {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.prev-btn {
    left: 0px;
    background: #ffffff;
    padding: 5px 20px;
    box-shadow: 1px 1px 2px #ccc;
}

.next-btn {
    right: 0px;
    background: #ffffff;
    padding: 5px 20px;
    box-shadow: 1px 1px 2px #ccc;
}

.marquee-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 250px;
    padding-top: 30px;
}

.marquee {
    display: flex;
    animation: marqueeAnimation linear infinite;
}

.marquee-item {
    flex: 0 0 auto;
    padding-right: 20px;
}

.image-cover {
    padding: 30px;
    border: 1px solid #efefef;
    border-radius: 4px;
    margin: 10px;
}

.content {
    color: #95a0ab;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.02em;
}

img {
    width: 100%;
    height: 180px;
    cursor: pointer;
}

.bg-light {
    padding-top: 120px !important;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background: linear-gradient(to right, #371e71, #4e1051) !important;
}

@media(min-width : 1200px) {
    .slide {
        width: 33.33% !important;
    }
}

@media (min-width:768px) and (max-width: 1199px) {}

@media (min-width:992px) and (max-width: 1199px) {
    .slide {
        width: 33.33% !important;
    }
}

@media (max-width: 767px) {
    .prev-btn {
        left: 0px !important;
        background: #ffffff !important;
        padding: 0px 10px !important;
        box-shadow: 1px 1px 2px #ccc !important;
    }

    .next-btn {
        right: 0px !important;
        background: #ffffff !important;
        padding: 0px 10px !important;
        box-shadow: 1px 1px 2px #ccc !important;
    }

    .slide {
        width: 100% !important;
    }
}