<section class="pt-5 pb-5">
    <div class="pb-5 pt-5" style="background-color: #f8f9fa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <div class="header">React Developer</div>
                        <div class="pt-3 content">
                            Elevate your business with our exceptional ReactJS development services! We craft
                            high-performance web apps that set you apart from the competition. Our skilled team ensures
                            custom solutions tailored to your needs, delivering top-notch performance, responsiveness,
                            and
                            security. Embrace digital transformation and stay ahead in the market. Contact us now to
                            turn
                            your vision into reality!
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-3">
                            <div class="d-flex justify-content-center">
                                <img src="../../assets/images/wave-shape/react (1).gif" alt="react"
                                    style="width: 250px; height: 250px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-section pt-5 pb-5 d-flex justify-content-around align-items-center">
        <div class="contact-head">
            Conduct a trial project to confirm that Scalar Techhub Private Limited ReactJS outsourcing knowledge is
            exactly what your company requires.
        </div>
        <div>
            <button class="explore">Get In Touch</button>
        </div>
    </div>

    <div class="pt-5 pb-5" style="background-color: #f8f9fa;">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="benefit-head">Benefits of React</div>
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-4 col-md-4 p-3" *ngFor="let item of benefit_content">
                        <div class="benefit-section">
                            <div class="numbering">{{ item.numbering }}</div>
                            <div class="pt-2 pb-2 benefit-header">{{ item.heading }}</div>
                            <div class="benefit-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 d-flex pt-3 technology-responsive">
                    <div class="col-lg-4 col-md-4 p-3" *ngFor="let item of benefit_content_remaining">
                        <div class="benefit-section">
                            <div class="numbering">{{ item.numbering }}</div>
                            <div class="pt-2 pb-2 benefit-header">{{ item.heading }}</div>
                            <div class="benefit-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4 contact-section ps-md-4 pe-md-4">
        <div class="d-flex justify-content-around align-items-center technology-responsive">
            <div class="partner-section" style="width: 50%;">
                <div class="pb-3 partner-head">Looking for a reliable React
                    outsourcing partner?</div>
                <div class="pb-md-5 partner-content">
                    We’re ready to put our best foot forward! Whether you’re looking for a single developer or an entire
                    full-cycle team, Senwell Group Private Limited is where you get your project delivered on time and
                    within
                    budget.
                </div>
                <button class="explore">Get a Quote</button>
            </div>
            <div>
                <img src="../../assets/images/wave-shape/react-info.png" alt="react" class="gif-image" />
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="container">
            <div class="d-flex justify-content-center pt-3 pb-3 benefit-head">Why Choose Us</div>
            <div class="row">
                <div class="col-lg-12 d-flex technology-responsive">
                    <div class="col-lg-3" *ngFor="let item of choose_us">
                        <div class="p-2">
                            <div class="text-center choose-head pb-2">{{ item.header }}</div>
                            <div class="text-center choose-content">{{ item.content }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>